.homegear-card {
    padding: 16px;
    margin: 12px;
    text-align: center;
    background-color: #131313;
    width: 175px;
    height: 300px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 auto; /* Ensure the cards do not shrink or grow */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Add a subtle shadow for better visibility */
    border-radius: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width and height */
}

.homegear-image {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
    margin-top: 28px;
    margin-bottom: 8px; /* Increase space below the image */
}

.homegear-card h3 {
    font-size: 1em;
    margin: 4px 0 2px 0;
    padding-left: 2px;
    padding-right: 2px;
    width: 100%; /* Ensure h3 takes the full width of the card */
    word-wrap: break-word; /* Break long words to a new line */
    overflow-wrap: break-word; /* Ensure compatibility with different browsers */
}

.homegear-card h4 {
    font-size: 0.9em;
    margin: 2px 0 8px 0; /* Reduce space above the h4 element and increase space below */
}